[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.98.0"
uvicorn = "==0.22.0"
motor = "==3.2.0"
langchain = "==0.0.154"
llama-index = "==0.6.13"
pypdf = "==3.9.0"
pinecone-client = "*"

[dev-packages]

[requires]
python_version = "3.11"
